body {
    background-color: hsl(136, 100%, 95%);
}

.home-page, .blog-overview, .blogpost {
    padding-left: 25px;
}

.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link:link, .link:visited {
    color: #000;
    text-decoration: none;
}

.link:hover {
    color: hsl(136, 100%, 25%);
}

.link:hover {
    text-decoration: underline;
}

.nav-bar {
    background-color: hsl(136, 100%, 36%);
    height: 70px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.nav-bar li, .nav-bar li:link, .nav-bar li:visited, .nav-bar .log-out-btn {
    display: inline;
}

.nav-bar .nav-link {
    color: #FFF;
    padding: 3rem;
}

.nav-bar li, .nav-bar li:link, .nav-bar li:visited {
    list-style-type: none;
}

.nav-bar .log-out-btn {
}



